
body{
    padding: 10% 25% 0 25%;
}


h1{
    color: white;
    background: blue;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #3281fe;
  color: white;
    height: 50px;
}
th, td{
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color:  #f2f2f2;
}


.headerColor{
    background-color: #3281fe;
}